debug: False
flask_secret_key: enter-your-generated-key
flask_session_lifetime: 30

ldap_type: ldap  # ldap, ldaps, ldapi
ldap_host: example.host

ldap_base_dn: 'DC=example,DC=host'
ldap_username: 'CN=username,DC=example,DC=host'
ldap_password:
ldap_group_object_filter: '(&(objectclass=group)(cn=%s))'
ldap_groups_object_filter: 'objectclass=group'
ldap_group_member_filter: '(&(cn=*)(objectclass=group)(member=%s))'
ldap_group_member_filter_field: 'cn'
ldap_user_object_filter: '(&(objectclass=user)(sAMAccountName=%s))'

ldap_group_access_backup_table:
ldap_group_access_backup_download:
ldap_group_access_manage_backups:
backup_dir:

sqlite_path: backup-service.db