<nav class="backup-block backup-filters">
    <div class="backup-filters__select backup__button">
        <label for="base-number">
            <select id="base-name">
                <option selected disabled hidden value="">База 1С</option>
                {% for base in base_list|sort(attribute='alias_name') %}
                    {% if base.share %}
                        <option value="{{ base.original_name }}">{{ base.alias_name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="backup-filters__select backup__button">
        <label for="backup-month">
            <select id="backup-month">
                <option selected disabled hidden value="">Месяц</option>
                {% for month in ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'] %}
                    <option value="{{ loop.index }}">{{ month }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</nav>