@import "root.css";

.backup {
    display: flex;
    flex-direction: column;
    gap: 60px;
    margin: 0 auto;
    padding: 50px 0;
    width: 90%;
    background: linear-gradient(252.65deg, #9811C7 -12.01%, #799BF3 100%) no-repeat fixed;
}

.backup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.backup-block {
    background: #fff;
    border-radius: var(--border-radius);
    padding: 0 10px;
    font-size: 1.2rem;
}

.backup-filters {
    max-width: 50%;
    display: flex;
    justify-content: center;
}

.backup-filters__select {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    height: 60px;
    overflow: hidden;
    transition: 200ms ease-in;
}

.backup-filters__select * {
    font-weight: 500;
    font-size: 1.2rem;
    transition: 200ms ease-in;
    text-align: center;
}

.backup-filters__select:hover *:not(option) {
    color: var(--secondary);
}

.backup-filters__select select {
    background: transparent;
    cursor: pointer;
}

.backup-filters__select option {
    font-weight: normal;
    font-size: 0.8rem;
}

.backup-table {
    border-collapse: collapse;
    table-layout: auto;
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
}

.backup-table__row * {
    cursor: pointer;
    transition: 100ms ease-in;
    z-index: 101;
}

.backup-table__row:hover * {
    background-color: #8d5ddf !important;
    color: white !important;
}

.backup-table__row:nth-child(even) {
    background-color: #f4f0f0;
}

.backup-table__row td {
    padding: 20px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 1100px){
    .navigation__user {
        display: none;
    }
}

@media screen and (max-width: 960px) {
    .backup-filters {
        align-self: center;
        flex-direction: column;
        align-items: center;
        gap: 0;
        max-width: 100%;
        overflow: hidden;
    }

    .navigation {
        flex-direction: column;
        gap: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .navigation {
        flex-direction: row;
        gap: 0 !important;
    }
    .backup {
        gap: 30px;
    }
    .backup-header {
        flex-direction: column-reverse;
        gap: 20px;
    }


    .backup-list__table {
        justify-content: center;
    }
}