@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --dark: #413D57;
    --primary: #0AF0FF;
    --secondary: #8B0386;
    --border-radius: 30px;
    --block-bg: linear-gradient(144deg, rgba(7, 81, 94, 0.1) 0%, rgba(229, 57, 134, 0.1));
    font-size: 20px;
}

* {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    color: var(--dark);
    border: 0;
    scrollbar-width: thin;
    scrollbar-color: var(--primary) var(--dark);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--dark);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

html {
    height: 100%;
}
