<nav class="backup-block backup-filters">
    <div class="backup-filters__select backup__button">
        <label for="base-number">
            <span>База:</span>
            <select id="base-name">
                {% for base_number in base_numbers|sort() %}
                    <option value="{{ base_number }}">{{ base_number }}</option>
                {% endfor %}
            </select>
        </label>
    </div>

    <div class="backup-filters__select backup__button">
        <label for="backup-month">
            <select id="backup-month">
            <option selected disabled hidden value="">Месяц</option>
                {% for month in ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'] %}
                    <option value="{{ loop.index }}">{{ month }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
</nav>