<!doctype html>
<html lang="ru">
<head>
    {% include 'metatags.html' %}
    <link rel="stylesheet" href="{{ url_for('backups.static', filename='css/backup.css') }}">
    <title>{{ title }}</title>
</head>
<body class="backup">
<header class="backup-header">
    {% include 'backup_filters.html' %}
    {% include 'backup_manage.html' %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<script type="module" src="{{ url_for('backups.static', filename='js/handlers.js') }}">
</script>
</body>
</html>